{
  "rules": {
    // preact uses kebab-cased SVG element attributes, which look like
    // unknown properties to `eslint-plugin-react` (React uses camelCase
    // for these properties)
    "react/no-unknown-property": "off"
  }
}
