{% extends "pdf_wrapper.html.min.jinja2" %}

{% block head %}
    <base href="{{ static_url("via:static/vendor/pdfjs-2/web/") }}">

    <title>via Hypothesis</title>
    {#
      It's worth noting that this link tag is *not* currently used by the
      Hypothesis client to determine the URL of this page. For consistency with
      the rest of via, however, we serve it with the PDF.js viewer application.
    -#}
    <link rel="canonical" href="{{ url }}"/>

    <link rel="icon" href="{{ static_url("via:static/favicon.ico") }}" type="image/x-icon" />

    <link rel="stylesheet" href="viewer.css">
{% endblock %}

{% block footer %}
    <script>
        window.PDF_URL = "{{ pdf_url }}";
        window.CLIENT_EMBED_URL = "{{ client_embed_url }}";
    </script>

    <script src="{{ static_url("via:static/js/pdfjs-init.min.js") }}"></script>

    {# Configure Hypothesis client. #}
    <script>
      window.hypothesisConfig = function() {
        return {
          showHighlights: true,
          appType: 'via',

          {% if h_request_config %}
          requestConfigFromFrame: '{{ h_request_config}}',
          {% endif %}

          {% if h_open_sidebar %}
          openSidebar: true,
          {% endif %}
        };
      }
    </script>

    <script src="../build/pdf.js"></script>
    <script src="viewer.js"></script>
{% endblock %}
