<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>via.hypothes.is</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .proxied-content-iframe {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
      margin: 0;
      padding: 0;
    }
  </style>

  <script>
  /**
   * Perform basic validation of the structure of a notification from the content
   * frame.
   *
   * Returns the input if valid or `null` otherwise.
   */
  function validateContentFrameMessage(data) {
    if (!data || typeof data.type !== 'string') {
      return null;
    }
    if (data.type === 'metadatachange' && data.metadata) {
      return data;
    } else {
      return null;
    }
  }

  // Listen for events from the proxied content in order to reflect document
  // metadata etc. in the current frame.
  window.addEventListener('message', event => {
    const contentFrame = document.querySelector('.js-content-frame');
    if (event.source !== contentFrame.contentWindow) {
      return;
    }

    const message = validateContentFrameMessage(event.data);
    if (!message) {
      return;
    }

    if (message.type === 'metadatachange') {
      document.title = `Via: ${message.metadata.title}`;
    }
  });
  </script>
</head>
  <body>
    <iframe class="js-content-frame proxied-content-iframe" src={{ src }}></iframe>
  </body>
</html>
