<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hypothesis Video Player</title>
    <link rel="canonical" href="{{ video.url }}"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    {% for url in asset_urls("video_player_css") %}
    <link rel="stylesheet" href="{{ url }}">
    {% endfor %}
  </head>
  <body>
    <div id="app"></div>
    <script type="application/json" class="js-config">
      {
        "client_config": {{ client_config | tojson }},
        "client_src": "{{ client_embed_url }}",
        "video_id": "{{ video.id }}",
        "video_title": "{{ video.title }}",
        "api": {{ api | tojson }}
      }
    </script>

    {% for url in asset_urls("video_player_js") %}
    <script type="module" src="{{ url }}"></script>
    {% endfor %}
  </body>
</html>
