/*
CSS entry point for the video player app.
*/

@import 'tailwindcss' source(none);

@config '../../../tailwind.config.js';

@layer base {
  body {
    @apply bg-grey-0;
    @apply font-sans text-sm text-color-text;
  }

  /*
  Input fields must have a minimum size on iOS to avoid the browser zooming in
  when they are focused.
  */
  @media(pointer: coarse) {
    input, textarea {
      font-size: max(16px, 100%);
    }
  }

  /* See https://tailwindcss.com/docs/upgrade-guide#default-border-color. */
  * {
    border-color: #dbdbdb;
  }
}


/* See https://tailwindcss.com/docs/upgrade-guide#default-ring-width-and-color. */
@theme {
  --default-ring-width: 2px;
  --default-ring-color: #59a7e8;
}

p::highlight(transcript-filter-match) {
  text-decoration: underline;
}
mark.transcript-filter-match {
  background: none; /* remove default `<mark>` styling */
  text-decoration: underline;
}
