# Set nginx variables from environment variables.
# The envsubst command that we run during our Docker build replaces the
# ${FOO}'s in this file with values from environment variables.

set $google_api_key "${GOOGLE_API_KEY}";
set $nginx_secure_link_secret "${NGINX_SECURE_LINK_SECRET}";
