name: Deploy

concurrency:
  group: ${{ github.event.repository.name }}-deploy
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  continuous-integration:
    uses: ./.github/workflows/continuous-integration.yml
    name: continuous integration

  create-image:
    needs: continuous-integration
    uses: hypothesis/workflows/.github/workflows/dockerhub.yml@main
    with:
      Application: ${{ github.event.repository.name }}
    secrets: inherit

  qa-via:
    needs: create-image
    name: ${{ github.event.repository.name }}
    uses: hypothesis/workflows/.github/workflows/eb-update.yml@main
    with:
      Application: ${{ github.event.repository.name }}
      Environment: qa
      Region: us-west-1
      Operation: deploy
      Version: latest
    secrets: inherit

  qa-lms-via:
    needs: create-image
    name: lms-via
    uses: hypothesis/workflows/.github/workflows/eb-update.yml@main
    with:
      Application: lms-via
      Environment: qa-lms
      Region: us-west-1
      Operation: deploy
      Version: latest
    secrets: inherit

  prod-via:
    needs: qa-via
    name: ${{ github.event.repository.name }}
    uses: hypothesis/workflows/.github/workflows/eb-update.yml@main
    with:
      Application: ${{ github.event.repository.name }}
      Environment: prod
      Region: us-west-1
      Operation: deploy
      Version: latest
    secrets: inherit

  prod-lms-via:
    needs: qa-lms-via
    name: lms-via
    uses: hypothesis/workflows/.github/workflows/eb-update.yml@main
    with:
      Application: lms-via
      Environment: prod-lms
      Region: us-west-1
      Operation: deploy
      Version: latest
    secrets: inherit
